*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    height: auto;
    max-width: 100%;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.header{
	width: 100%;
}
.logo{
    width: 100px;
    position: absolute;
    left: 10;
    top: 10;
}
.nav{
	position: absolute;
    right: 50;
    top: 10;
}
.menu{
    width: 20px;
    position: absolute;
    right: 10;
    top: 10;
    cursor: pointer;
}
.content{
    width: 88%;
    margin: auto;
    position: relative;
    z-index: 2;
}
.content .logo{
    width: 100px;
    margin-top: 50px;
}
.content hr{
    border: none;
    height: 6px;
    max-width: 280px;
    margin-top: 8px;
    background: #ff8765;
}
.content h1{
    font-size: 160px;
    font-weight: 100;
    color: #cfcfcf;
    margin-top: 60px;
    margin-bottom: 30px;
    line-height: 150px;
    letter-spacing: -10px;
}
.content p{
    max-width: 450px;
    color: #919191;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 14px;
}
.content .btn{
    text-decoration: none;
    border: 1px solid #fff;
    color: #fff;
    letter-spacing: 1px;
    padding: 18px 34px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 20px;
}
.content .btn:hover{
    background: #ff8765;
    border-color: #ff8765;
    color: #000;
    transition: 0.5s;
}
.btn2{
    float: right;
}
.sidebar{
    width: 30%;
    max-width: 550px;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(6px);
}
table{
	min-width: 500px;
	border-top: 1px solid;
	border-collapse: collapse;
	margin: auto;
	margin-top: 40;
}
th, td{
	border-bottom: 1px solid;
	padding: 10px;
	text-align: center;
}
.th-seq{
	width: 50;
}
.th-title{
	width: 400;
}
.th-member{
	width: 100;
}
.th-createdate{
	width: 100;
}
.th-cnt{
	width: 50;
}
.insert{
	width: 60;
	text-align: center;
	text-decoration: none;
    border: 1px solid #ff8765;
    color: #ff8765;
    letter-spacing: 1px;
    padding: 18px 34px;
    border-radius: 30px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.insert:hover{
    background: #ff8765;
    border-color: #ff8765;
    color: #000;
    transition: 0.5s;
}