*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.logo{
    width: 100px;
    position: absolute;
    left: 10;
    top: 10;
}
.menu{
    width: 20px;
    position: absolute;
    right: 10;
    top: 10;
    cursor: pointer;
}
.content .btn{
    text-decoration: none;
    border: 1px solid #fff;
    color: #fff;
    letter-spacing: 1px;
    padding: 18px 34px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 20px;
}
.content .btn:hover{
    background: #ff8765;
    border-color: #ff8765;
    color: #000;
    transition: 0.5s;
}
.btn2{
    float: right;
}